@import '../../styles/build.css';

.sf-code {
  @apply block h-full mb-4 min-h-[5rem] relative w-full;

  &__preview,
  &__editor,
  &__preview-block,
  &__editor-block {
    margin: 0;
    padding: 0;
  }

  &__preview-block {
    @apply !bg-gray-900 !p-5;
  }

  &__preview {
    @apply relative z-[2];

    &.is-editing * {
      color: transparent !important;
    }
  }

  &__editor {
    @apply bg-transparent opacity-0 top-5 left-5 absolute z-[1];

    &.is-editing {
      @apply opacity-100 block z-[3];
    }
  }

  &__actions {
    @apply absolute bottom-0 right-0 max-w-[100%] z-10;
  }

  &__action {
    @apply flex p-1;

    &--copy {
      @apply cursor-pointer;
    }
  }

  &__icon {
    @apply w-3 mr-1;
  }

  &__action--text &__icon {
    @apply mr-0;
  }
}
