@import '../../styles/build.css';

.sf-row {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: calc(-1 * var(--sf-grid-gutter-vertical));
  margin-left: calc(-1 * var(--sf-grid-gutter-horizontal));
  margin-right: calc(-1 * var(--sf-grid-gutter-horizontal));
  margin-top: calc(-1 * var(--sf-grid-gutter-vertical));

  @each $breakpoint in var(--internal-breakpoints) {
    @each $value in var(--internal-flex-directions) {
      @mixin breakpoint-modifier $breakpoint, $value {
        flex-direction: $value;
      }
    }
  }
}
