@import '../../build.css';

.sf-pill {
  @mixin shared-styles;

  --sf-pill-radius: 10rem;
  --sf-pill-font-weight: var(--sf-font-weight-medium);

  background-color: var(--sf-color-basic-brightest);
  border-color: var(--sf-color-basic-bright);
  border-radius: var(--sf-pill-radius);
  color: var(--sf-color-basic-darker);
  font-weight: var(--sf-pill-font-weight);
  transition-duration: var(--sf-transition-duration-normal);
  transition-property: var(--sf-transition-colors);

  @each $variant in primary, secondary, tertiary {
    &--$(variant) {
      background-color: var(--sf-color-$(variant)-normal);
      border-color: transparent;
      color: var(--sf-color-basic-brightest);
    }
  }

  @each $intent in info, success, warning, error {
    &.is-$(intent) {
      background-color: var(--sf-color-$(intent)-bright);
      color: var(--sf-color-$(intent)-darkest);
    }
  }
}
