@import '../styles/build.css';

* {
  box-sizing: border-box;
}

body {
  font-family: var(--sf-font-family);
  font-size: var(--sf-font-size);
  font-weight: var(--sf-font-weight-normal);
}

.sbdocs-h2 {
  border: 0 !important;
}

.sidebar-item {
  padding: 20px 0 !important;
}

.docs-story {
  .sf-row {
    color: var(--sf-color-primary-darkest);
  }

  .sf-column {
    color: var(--sf-color-primary-darkest);
    padding: 0.25rem;
    justify-content: center;
  }

  .sf-button {
    margin-right: 0.5rem;
  }
}
