@import '../../styles/build.css';

.sf-pill {
  --sf-pill-text-size: var(--sf-font-size-small);

  display: inline-block;
  font-size: var(--sf-pill-text-size);
  padding: 0.2rem 0.45rem;
  text-align: center;
}
